[Desktop Entry]
Name=Bash-Script-Maker
Comment=Ein GUI-Programm zur Erstellung von Bash-Scripts
Exec=bash-script-maker
Icon=bash-script-maker
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=bash;script;editor;generator;
StartupWMClass=bash-script-maker
